/* Genel Stil */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding-top: 60px;
}

/* Navbar */
.navbar {
    width: 100%;
    background-color: #4a148c;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
}

/* Formlar */
.container {
    width: 100%;
    max-width: 360px;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 15px;
    background: linear-gradient(90deg, #7b1fa2, #4a148c);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hata Mesajı */
.error-message {
    color: red;
    font-size: 14px;
    display: none;
}
